<div class="container"  id="content-area">
    <div class="row">
        <div class="col">
            <h1 class="vertical-spacer center">
                {{title}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{if image}}
            <img width="100%" class="vertical-spacer_small" src="{{image}}" alt="{{title}}">
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 vertical-spacer_medium">
            {{about}}
        </div>  
    </div>
    
</div>