<div class="container" id="content-area">
    <div class="row vertical-spacer">
        <div class="col center">
            <h1 class="vertical-spacer">Manufacturers</h1>
            <p>We are proud to import and distribute the superb products made by these select manufacturers.</p>
        </div>
    </div>
    <div class="row">
        {{ collection:manufacturers }}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="{{url}}">
                    {{partial:card-manufacturer :logo="logo"}} 
                </a>
            </div>
        {{/collection:manufacturers}}
    </div>
    
    
</div>