$brandgold: #A19A86;
$compliantgold: #757062;
// $earthblack: #535353;
// $earthblack: #717171;
// $earthblack: #a8a8a8;
$earthblack: #6d6d6d;
$earthred: #d82424;
// $linkblue: #3897CD;
$linkblue: #798caf;
$linkbluehover: #485469;
// $linkblue: #3d7dc1;
// $linkblue: #217de0;
$velvet: #292030;
$lightgold: #F6F5F3;
$brass: #e9e8e6;
$midgold: #F5EFE3;
$breeze: #b7b3a7;

.dimLink {
    color: $compliantgold;
}
.dimLinkEarth {
    color: $earthblack;
}
.goldtext {
    color: $compliantgold;
}