.dimLink {
  color: #757062; }

.dimLinkEarth {
  color: #6d6d6d; }

.goldtext {
  color: #757062; }

body, html {
  margin: 0;
  padding: 0; }

body {
  color: #6d6d6d; }

header {
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: solid thin lightgrey; }

#PageFooter {
  padding-top: 30px;
  margin-top: 120px;
  border-top: solid thin #A19A86; }

.ruled {
  border-top: solid thin #6d6d6d; }

#hero {
  width: 100%;
  height: 600px;
  margin-bottom: 30px; }

.hero-statement {
  text-align: center; }

#content-area {
  margin-top: 144px;
  margin-bottom: 120px; }

#logo {
  margin-top: 15px; }

.section-header {
  text-align: center;
  height: 30px;
  margin: 60px auto;
  margin-bottom: 30px;
  padding-top: 15px;
  border-bottom: solid thin #757062; }

.section-header .title {
  background-color: white;
  padding: 0 30px; }

#testimonials {
  padding: 0;
  border-radius: 3px; }

#product-hero_area {
  margin-top: 72px;
  overflow: hidden;
  position: relative;
  background: #f6f5f3;
  background: linear-gradient(180deg, #f6f5f3 50%, white 100%); }
  #product-hero_area img {
    mix-blend-mode: multiply; }

#accordion {
  display: none; }

#productName {
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto; }
  #productName div {
    flex-direction: column; }

#heroImage {
  max-width: 100%;
  max-height: 60vh;
  margin-bottom: 15px; }

.navbar-collapse {
  position: fixed;
  flex-grow: 1;
  left: 0;
  top: 72px;
  font-size: 48px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #fffffff0; }

@media (min-width: 768px) {
  h1 {
    font-size: 72px; } }
@media (min-width: 992px) {
  #productName div {
    flex-direction: row; }

  #heroImage {
    max-height: 60vh;
    max-width: 100%;
    margin-bottom: 0; }

  .navbar-collapse {
    position: relative;
    flex-grow: 1;
    right: 0;
    top: 0;
    font-size: 14px;
    /* left: 0; */
    text-align: right;
    width: auto;
    height: auto;
    background-color: #FFFFFF00; } }
h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #6d6d6d;
  margin: 0; }

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px; }

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 36px;
  color: #757062;
  letter-spacing: 0.02em; }

h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.08em;
  display: inline-block;
  text-transform: uppercase; }

h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  margin: 0; }

h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 0;
  text-transform: uppercase;
  font-size: 9px;
  color: #757062;
  margin-top: 24px; }

.meta {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.09em;
  text-transform: uppercase; }

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

.caption {
  font-family: baskerville-urw;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 30px; }

.title {
  color: #6d6d6d;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #757062; }

.large {
  font-size: 24px; }

.quote {
  font-family: "Juana W00 ExtraLight", "Poppins", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #A19A86; }

.center {
  text-align: center;
  width: 100%; }

.blockquote {
  text-align: center;
  margin-bottom: 60px; }

.blockquote-footer {
  color: #A19A86; }

a {
  color: #6d6d6d; }
  a:hover {
    color: #d82424; }

@media (min-width: 540px) {
  .quote {
    font-size: 30px;
    line-height: 36px; } }
@media (min-width: 768px) {
  h1 {
    text-align: center;
    font-size: 84px;
    line-height: 90px; }

  h2 {
    font-size: 24px;
    line-height: 33px; }

  .quote {
    font-size: 36px;
    line-height: 42px; } }
@media (min-width: 992px) {
  .quote {
    font-size: 36px;
    line-height: 42px; } }
.no-border {
  border: none; }

.spacing {
  padding: 24px 0; }

.vertical-spacer_small {
  margin-bottom: 15px; }

.vertical-spacer {
  margin-bottom: 15px; }

.vertical-spacer_medium {
  margin-bottom: 60px; }

.vertical-spacer_large {
  margin-bottom: 120px; }

.navbar-margin {
  margin-top: 38px; }

.no-underline {
  border-bottom: none !important; }

.enforce-bodysans p {
  font-family: "Poppins"; }
  .enforce-bodysans p p {
    font-family: "Poppins"; }

.large {
  font-size: 30px; }

.dimmer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: .66;
  mix-blend-mode: multiply; }

@media (min-width: 992px) {
  .vertical-spacer {
    margin-bottom: 30px; } }
a {
  text-decoration: none !important; }

.tag {
  border: solid thin #A19A86;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 3px;
  transition: all .5s; }
  .tag p {
    margin-bottom: 0;
    line-height: 18px; }
  .tag:hover {
    background-color: white;
    transition: all .5s; }

.icon {
  display: inline-block;
  margin-right: 15px; }

.breadcrumb {
  color: #6d6d6d;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase; }

.breadcrumb-item + .breadcrumb-item::before {
  color: #6d6d6d; }

ol.breadcrumb {
  background-color: #ccc9fd00;
  padding: 24px 0;
  line-height: 24px;
  margin: 0;
  z-index: 999;
  position: relative;
  font-family: "Poppins"; }
  ol.breadcrumb li a {
    color: #6d6d6d; }

.nav-tabs {
  padding-bottom: 6px;
  border-bottom: solid thin #6d6d6d;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: none;
  border-bottom: solid 3px #d82424;
  font-family: "Poppins";
  color: #d82424; }
  .nav-tabs .nav-item.show .nav-link:hover, .nav-tabs .nav-link.active:hover {
    border: none;
    border-bottom: solid 3px #d82424; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  border: none;
  color: #6d6d6d;
  font-family: "Poppins"; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  border: none;
  color: #d82424; }

.carousel-item {
  height: 60vw; }

@media (min-width: 540px) {
  .carousel-item {
    height: 60vw; } }
button {
  height: 48px;
  background-color: white;
  border-radius: 66px;
  padding: 0 30px;
  border: none;
  transition: all .5s; }
  button h3 {
    margin: 0; }
  button:hover {
    background-color: #757062;
    color: white;
    transition: all .5s; }

#manufacturers {
  list-style-type: none;
  margin-left: -40px; }

#manufacturers a {
  color: #6d6d6d; }

#manufacturers a:hover {
  color: #A19A86;
  text-decoration: none; }

#manufacturers li {
  padding: 12px 0;
  border-bottom: solid thin #A19A86; }

.navbar {
  padding: 0; }

.nav-link {
  display: inline;
  padding: 0;
  margin: 0 15px;
  padding-bottom: 6px; }

nav h3 {
  margin-bottom: 0; }

nav a {
  color: #6d6d6d;
  margin-left: 30px;
  padding-bottom: 6px;
  border-bottom: solid 2px #ffffff00;
  transition: all 1s; }
  nav a:hover {
    border-bottom: solid 2px #A19A86;
    text-decoration: none;
    color: #6d6d6d;
    transition: all 1s; }

.active a {
  border-bottom: solid 2px #6d6d6d; }

.card {
  margin-bottom: 30px; }

.card p {
  margin-bottom: 0; }

.card a {
  color: #6d6d6d; }

.card-header {
  padding: 6px 0;
  margin-bottom: 12px;
  background-color: white;
  border-bottom: 1px solid #e9e8e6; }

.card-header a {
  color: #6d6d6d; }

.card-header a:hover {
  text-decoration: none; }

.card-body {
  padding: 0; }

.item {
  border-radius: 9px;
  background-color: #F6F5F3;
  width: 100%;
  position: relative;
  border-bottom: solid 3px #F6F5F3;
  transition: all 200ms ease;
  transition: .5s; }
  .item:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .item:hover {
    background-color: #e9e8e6;
    border-bottom: solid 3px #e9e8e6;
    transition: all 200ms ease; }

.item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.item-label {
  position: absolute;
  bottom: 18px;
  padding: 0 18px;
  width: 100%;
  text-align: center; }
  .item-label h3 {
    margin: 0;
    color: #6d6d6d; }

.card-category-image {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 48px;
  mix-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.card-image {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 72px;
  text-align: center;
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.card-featured-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  text-align: center;
  mix-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.featured-label {
  background-color: #ffffffeb;
  z-index: 99;
  width: 66%;
  color: #6d6d6d;
  position: absolute;
  border-radius: 4px;
  left: 3px;
  bottom: 0;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px; }

.cardImage {
  border-radius: 6px; }

.shaded {
  background-color: #F6F5F3; }

#findYourNext a {
  color: #6d6d6d; }

.feature-CTA {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: calc(100% - 60px);
  text-align: center;
  z-index: 999;
  margin-left: 30px;
  margin-right: 30px; }

/*# sourceMappingURL=styles.css.map */
