<div class="card  no-border vertical-spacer">
    <div class="card-body">
        <div class="item" style="background-color: white; border-bottom: none;">
            <div class="item-content">
                <div class="card-image" style="background-image:url({{logo}}); background-size: contain; background-repeat: no-repeat; background-position: center; bottom:12px" alt="{{title}}" >
                 
                </div>                
                
            </div>
        </div>
    </div>
</div>