<div class="card no-border">
    <div class="card-body">
        <div class="item">
            <div class="item-content">
                <div class="card-image" style="background-image:url({{image}}); background-size: contain; background-repeat: no-repeat; background-position: center;">
                </div>                
            </div>
            <div class="item-label">
   
                <h5 class="dimLinkEarth">{{title}}</h5>
                <h4>
                    {{relate:manufacturer}}
                        {{title}}
                    {{/relate:manufacturer}}
                </h4>
            </div>
        </div>
    </div>
</div>
