<a href="products/{{product-categories}}{{slug}}{{/product-categories}}/{{slug}}">
    <div class="card card-featured no-border vertical-spacer">
        <div class="card-body">
            <div class="item">
                <div class="item-content">  
                    <div class="featured-label">
                        <h3>{{relate:manufacturer}}{{title}}{{/relate:manufacturer}}</h3>
                        <h2>{{title}}</h2>
                        <p>{{featured_description}}</p>
                        
                    </div>
                    <div class="card-featured-image" style="background-image:url({{image}}); background-size: cover;"></div>                
                </div>
            </div>
        </div>
    </div>
</a>

<!-- <button style="margin-top: 30px;"><h3>
                        {{if button_text}}
                        {{button_text}}
                        {{else}}
                        Check it out!
                        {{/if}}
                    </h3></button> -->